<div class="h-full bg-gray-100">
  <main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
      <%= render "host/dashboard/sidebar" %>

      <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
        <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flew-nowrap">
          <div class="ml-4 mt-2">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Your Properties</h3>
          </div>
          <div class="ml-4 mt-2 flex-shrink-0">
            <%= link_to "create new property", new_host_property_path, class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
        </div>
        <div class="bg-white shadow overflow-hidden sm:rounded-md mt-0">
          <ul role="list" class="divide-y divide-gray-100">
            <% @properties.each do |property| %>
              <li class="flex justify-between gap-x-6 py-5 px-4">
                <%= link_to property_path(property), class: "block hover:bg-gray-50 w-full" do %>
                  <div class="flex items-center px-4 py-4 sm:px-6">
                    <div class="min-x-0 flex-1 flex items-center">
                      <div class="flex-shrink-0">
                        <%= image_tag property.default_image, class: "size-12 flex-none rounded-full bg-gray-50" %>
                      </div>
                      <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                        <div>
                          <p class="text-sm/6 font-semibold text-gray-900"><%= property.name %></p>
                          <p class="mt-1 truncate text-xs/5 text-gray-500"><%= property.headline %></p>
                        </div>
                      </div>
                      <div class="hidden md:block">
                        <div>
                          <p class="text-sm/6 font-semibold text-gray-900">Created on
                            <time datetime="2020-01-07"><%= property.created_at.strftime(Constants::Reservations::CHECK_IN_OUT_DATE_FORMAT) %></time>
                          </p>
                          
                          <p class="mt-2 flex items-center text-xs/5 text-gray-500">
                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <%= property.reservations.future_reservations.size %> Active Reservations
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>