<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:py-32 lg:px-8 lg:grid lg:grid-cols-lg-12 lg:gap-x-8">
    <div class="lg:col-span-4">
      <h2 class="text-2xl font-extrabold tracking-tight test-gray-900">Customer Reviews</h2>
      <div class="mt-3 flex items-center">
        <div>
          <div class="flex items-center">
            <% 
              property_star_classes = ["text-gray-300", "text-gray-300", "text-gray-300", "text-gray-300", "text-gray-300"]
              
              @property.average_rating.round(0).times do |i|
                property_star_classes[i] = "text-yellow-400"
              end
            %>

            <% property_star_classes.each do |star_class| %>
              <!-- 
                Heroicon name: solid/star

                Active: "text-yellow-400", Default: "text-gray-300" 
              -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="flex-shrink-0 h-5 w-5 <%= star_class%>">
                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd"></path>
              </svg>
            <% end %>
          </div>

          <p class="sr-only"><%= @property.average_rating.round(0) %> out of 5 stars</p>
        </div>

        <p class="ml-2 text-sm text-gray-900">Based on <%= @property.reviews_count %> reviews</p>
      </div>
      <div class="mt-6">
        <h3 class="sr-only">Review data</h3>

        <dl class="space-y-3">
          <% 5.downto(1) do |n| %>
            <div class="flex items-center text-sm">
              <dt class="flex flex-1 items-center">
                <p class="w-3 font-medium text-gray-900"><%= n %><span class="sr-only"> star reviews</span></p>
                <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 text-yellow-400">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd"></path>
                  </svg>
                  <div class="ml-3 relative flex-1">
                    <div class="h-3 bg-gray-100 border border-gray-200 rounded-full"></div>
                    <div class="absolute inset-y-0 bg-yellow-400 border border-yellow-400 rounded-full" style="width: calc(<%= @property.reviews.where(rating: n).size %> / <%= @property.reviews_count %> * 100%);"></div>
                  </div>
                </div>
              </dt>

              <dd class="ml-3 w-10 text-right tabular-nums text-sm text-gray-900"><%= property_rating_percentage(property: @property, rating: n) %>%</dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>

    <div class="mt-16 lg:mt-0 lg:col-start-6 lg:col-span-7">
      <h3 class="sr-only">Recent reviews</h3>

      <div class="flow-root">
        <div class="-my-12 divide-y divide-gray-200">
          <% @property.reviews.includes(user: :profile).each do |review|%>
            <div class="py-12">
              <div class="flex items-center">
                <%= image_tag review.user.profile.picture, class: "h-12 w-12 rounded-full", alt: review.user.full_name %>

                <div class="ml-4">
                  <h4 class="text-sm font-bold text-gray-900"><%= review.user.full_name %></h4>

                  <div class="mt-1 flex items-center">
                    <% 
                      review_star_classes = ["text-gray-300", "text-gray-300", "text-gray-300", "text-gray-300", "text-gray-300"]

                      review.rating.times do |i|
                        review_star_classes[i] = "text-yellow-400"
                      end
                    %>

                    <% review_star_classes.each do |star_class| %>
                      <!-- 
                        Heroicon name: solid/star

                        Active: "text-yellow-400", Default: "text-gray-300" 
                      -->
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 <%= star_class %>">
                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd"></path>
                      </svg>
                    <% end %>
                  </div>

                  <p class="sr-only"><%= review.rating %> out of 5 stars</p>
                </div>
              </div>
              <div class="mt-4 space-y-6 text-base italic text-gray-600">
                <p><%= review.body %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>